<launch>    
    <rosparam command="load" file="$(find probably_main/params/points.yaml)" />
    <node type="0326_3vel" pkg="probably_main" name="0326_3vel" output="screen"/>
    <node name="serial_server" pkg="rosserial_server" type="serial_node" output="screen" respawn="true" respawn_delay="3">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="115200" />
        
        <rosparam>
            require:
                publishers: [ ]
                subscribers: [ counting ]
        </rosparam> 
    </node>

</launch>